<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mainpage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          
            <span class="fs-4">Наш Сайт</span>
        </a>
  
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          
          <a class="me-3 py-2 text-dark text-decoration-none" href="/about">About Us</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="/map">Our Map</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="/news">News</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="/search">Search</a>
        </nav>
      </div>
    <h1>Важная информация</h1>
    <h2>На этой странице будет показана важная информация о природных пожарах</h2>
    <h3> Чтобы избежать возникновения пожаров, необходимо соблюдать правила поведения в лесу</h3>
    <p>Основные причины возникновения природных пожаров: непотушенная сигарета, горящая спичка, тлеющий пыж после выстрела, масляная тряпка или ветошь, стеклянная бутылка, преломляющая лучи солнечного света, искры из глушителя транспортного средства, сжигание старой травы, мусора вблизи леса или торфяника, расчистка с помощью огня лесных площадей для сельскохозяйственного использования или обустройства лесных пастбищ. Но одним из основных потенциальных источников природных пожаров является костёр. В ряде случаев природные пожары становятся следствием умышленного поджога, техногенной аварии или катастрофы.
    </p>
    <p>Каждое лето лесные пожары начинаются с неизбежностью, приводящей в отчаянье. К этому нельзя привыкнуть. Леса восстанавливаются десятилетиями. Если вы хоть раз видели лесной пожар, то не забудете эту страшную картину никогда.
    </p>
    <p>Специалисты МЧС России дают рекомендации, как поступить, если вы попали в зону лесного пожара.</p>
    </div>


    
                    <main class="container">
                        <div class="bg-light p-5 rounded">
                            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                                <svg class="bi" width="1em" height="1em" fill="currentColor">
                                <use xlink:href="bootstrap-icons.svg#1-circle">
                                    <h3>1</h3>
                                </use>
                                </svg>
                                </div>
                            <h3>Если вы оказались вблизи очага пожара в лесу или на торфянике</h3>
                            <p>Если Вы оказались вблизи очага пожара в лесу или на торфянике и у Вас нет возможности своими силами справиться с его локализацией, предотвращением распространения и тушением пожара, немедленно предупредите всех находящихся поблизости людей ()специальные службы) о необходимости выхода из опасной зоны. Организуйте их выход на дорогу или просеку, широкую поляну, к берегу реки или водоема, в поле. Выходите из опасной зоны быстро, перпендикулярно к направлению движения огня. Если невозможно уйти от пожара, войдите в водоем или накройтесь мокрой одеждой. Выйдя на открытое пространство или поляну дышите воздухом возле земли – там он менее задымлен, рот и нос при этом прикройте ватно-марлевой повязкой или тряпкой.</p>
                            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                                <svg class="bi" width="1em" height="1em" fill="currentColor">
                                <use xlink:href="bootstrap-icons.svg#1-circle">
                                    <h3>2</h3>
                                </use>
                                </svg>
                                </div>
                            <h3>После выхода из зоны пожара сообщите о месте, размерах и характере пожара</h3>
                            <p>После выхода из зоны пожара сообщите о месте, размерах и характере пожара в администрацию населенного пункта, лесничество или противопожарную службу, а также местному населению. Знайте сигналы оповещения о приближении зоны пожара к населенному пункту и принимайте участие в организации тушения пожаров.</p>
                            <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                                <svg class="bi" width="1em" height="1em" fill="currentColor">
                                <use xlink:href="bootstrap-icons.svg#1-circle">
                                    <h3>3</h3>
                                </use>
                                </svg>
                                </div>
                            <h3>Как действовать вблизи очага пожара в лесу и на торфяниках</h3>
                            <p>Пламя небольших низовых пожаров можно сбивать, захлестывая его ветками лиственных пород, заливая водой, забрасывая влажным грунтом, затаптывая ногами. Торфяные пожары тушат перекапыванием горящего торфа с поливкой водой. При тушении пожара действуйте осмотрительно, не уходите далеко от дорог и просек, не теряйте из виду других участников, поддерживайте с ними зрительную и звуковую связь. При тушении торфяного пожара учитывайте, что в зоне горения могут образовываться глубокие воронки, поэтому передвигаться следует осторожно, предварительно проверив глубину выгоревшего слоя.</p>
                            <h3>

                            </h3>
                            
                            
                        </div>
                      </main>
                      <div class="container">
                        <p style="text-indent: 100px;">
                            <iframe src="https://nsopb.ru/fck_editor_files/files/420208466.pdf" width="1000" height="750"></iframe>
                        </p>
                    </div>

                      
                      <footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-left">
                        <div class="container">
                        
                        </div>
                        </footer>
  
</body>

</html>